bower_components/*
!bower_components/angular
!bower_components/react

bower_components/angular/*
!bower_components/angular/angular.js

bower_components/react/*
!bower_components/react/react.js

node_modules

*.orig
