<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ng-repeat Benchmarks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-app="app">

    <section ng-controller="mainCtrl">
      <div>
        <button ng-click="newData()" class="btn btn-primary">Reload table data</button>
      </div>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr bindonce ng-repeat="row in data">
              <td bo-text="row.0"></td>
              <td bo-text="row.1"></td>
              <td bo-text="row.2"></td>
              <td bo-text="row.3"></td>
              <td bo-text="row.4"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <script src="http://code.angularjs.org/1.2.1/angular.js"></script>
    <script src="bower_components/angular-bindonce/bindonce.js"></script>
    <script>
      angular.module('app', ['pasvaz.bindonce'])
        .controller('mainCtrl', ['$scope', '$rootScope', function($scope, $rootScope) {
          $scope.data = [];

          $scope.newData = function() {

            $scope.data = [];

            for(var i = 0; i < 500; ++i) {
              $scope.data[i] = {};
              for(var j = 0; j < 5; ++j) {
                $scope.data[i][j+''] = Math.random();
              }
            }
          };

          $scope.newData();
        }]);
    </script>
  </body>
</html>