<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ng-repeat Benchmarks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .green-bg { background-color: green; }
      .red { color: red; }
    </style>
  </head>
  <body ng-app="app">

    <section ng-controller="mainCtrl">

      <button ng-click="started = true" ng-hide="started" class="btn btn-primary">Start</button>

      <section ng-if="started">
        <div>
          <button ng-click="newData()" class="btn btn-primary">Reload table data</button>
        </div>
        <div class="table-responsive">
          <table class="table">
            <tbody class="tbody-class" id="awesome-tbody">
              <tr class="tr-class" ng-react-repeat="row in data" ng-click="clickHandler(row)">
                <td class="td-zero">
                  <span class="green-bg red" ng-bind="row.0"></span>
                </td>
                <td class="td-one" ng-bind="row.1"></td>
                <td class="td-two">
                  Text not in an element
                  <span>And text in a span</span>
                  <span class="green-bg red" ng-bind="row.0"></span>
                </td>
                <td class="td-three" ng-bind="row.3"></td>
                <td class="td-four" ng-bind="row.4"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </section>

    <script src="angular.js"></script>
    <script src="bower_components/quick-ng-repeat/quick-ng-repeat.js"></script>
    <script src="bower_components/react/react.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="scripts/ngReact.js"></script>
  </body>
</html>
