<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ng-repeat Benchmarks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-app="app">

    <section ng-controller="mainCtrl">

      <button ng-click="started = true" ng-hide="started" class="btn btn-primary">Start</button>

      <section ng-if="started">
        <div>
          <button ng-click="newData()" class="btn btn-primary">Reload table data</button>
        </div>
        <div class="table-responsive">
          <table class="table">
            <tbody class="tbody-class" id="awesome-tbody">
              <tr class="tr-class" ng-react-repeat data="data" alias="row" ng-click="clickHandler(row)">
                <td class="td-zero" ng-bind="row.0"></td>
                <td class="td-one" ng-bind="row.1"></td>
                <td class="td-two" ng-bind="row.2"></td>
                <td class="td-three" ng-bind="row.3"></td>
                <td class="td-four" ng-bind="row.4"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </section>

    <script src="http://code.angularjs.org/1.2.1/angular.js"></script>
    <script src="bower_components/quick-ng-repeat/quick-ng-repeat.js"></script>
    <script src="bower_components/react/react.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="bower_components/react/JSXTransformer.js"></script>
    <script>
      var propertiesToKeep = [
        {
          attrName : 'class',
          propName : 'className'
        }, {
          attrName : 'ng-click',
          propName : 'onClick'
        }, {
          name : 'id'
        }, {
          name : 'ng-bind'
        }
      ];

      var getAttributes = function(el) {
        var toReturn = {};

        console.log('getAttributes el', el.attributes);

        _.each(propertiesToKeep, function(property) {
          var attr = _.findWhere(_.values(el.attributes), {localName : property.attrName || property.name});
          if (attr) {
            toReturn[property.propName || property.name] = attr.value;
          }
        });

        console.log('return', toReturn);

        return toReturn;
      };

      window.reactRepeatUnit = React.createClass({
        render: function() {
          console.log('running reactRepeatUnit render');

          var data = this.props.data,
            scope = this.props.scope;

          var clickHandler = this.props.scope.$apply.bind(this.props.scope, this.props.scope.clickHandler.bind(null, data));

          var rowTranscluded = _.map(this.props.transcludedDom, function(domEl) {
            var boundValue = domEl.props['ng-bind'];
            var val = _.last(boundValue.split(scope.alias)).substring(1);

            return React.DOM[domEl.el].apply(null, [domEl.props].concat([data[val]]));
          });

          //should be the element that has the ng-react-repeat directive on it.
          // return React.DOM[this.props.rootUnit.localName].apply(null, [{ onClick : clickHandler }].concat(rowTranscluded));
          return React.DOM[this.props.rootUnit.localName].apply(null, [getAttributes(this.props.rootUnit)].concat(rowTranscluded));
        }
      });

      window.reactRepeat = React.createClass({
        render: function() {
          console.log('running reactRepeat render');

          var transcludedDom = _.compact(_.map(this.props.transcluded, function(node) {
            if (node.localName) {

              return {
                el: node.localName,
                props: getAttributes(node)
              };
            }
          }));

          var scope = this.props.scope,
            rootUnit = this.props.rootUnit,
            rows = _.map(this.props.scope.data, function(datum) {
              return reactRepeatUnit({
                scope          : scope,
                data           : datum,
                transcludedDom : transcludedDom,
                rootUnit       : rootUnit
              });
            });

          //here, rootUnit.parentElement.localName is the tbody, rootUnit.localName is the tr
          return React.DOM[this.props.rootUnit.parentElement.localName].apply(null, [getAttributes(this.props.rootUnit.parentElement)].concat(rows));
        }
      });
    </script>
    <script>
      angular.module('app', ['QuickList'])
        .controller('mainCtrl', ['$scope', function($scope) {
          $scope.data = [];
          $scope.started = true;

          $scope.newData = function() {

            $scope.data = [];

            for(var i = 0; i < 100; ++i) {
              $scope.data[i] = {};
              for(var j = 0; j < 5; ++j) {
                $scope.data[i][j] = Math.random();
              }
            }

            console.log('first row: ', $scope.data[0]);
          };

          $scope.clickHandler = function(index) {
            console.log(index);
          };

          $scope.newData();
        }])
        .directive('ngReactRepeat', function ($timeout) {
          return {
            restrict: 'A',
            transclude: true,
            replace: true,
            controller: ['$scope', '$element', '$attrs', '$transclude', function ($scope, $element, $attrs, $transclude) {

              $scope.alias = $attrs.alias;

              console.log('el', $element[0]);

              var parentReference = $element[0].offsetParent;

              $transclude(function(clone) {
                $scope.$watch($attrs.data, function(val) {

                  console.error('watcher firing, about to kick off React.renderComponent');

                  $timeout(function() {

                    React.renderComponent(
                      window.reactRepeat({
                        scope       : $scope,
                        transcluded : clone,
                        rootUnit    : $element[0]
                      }),
                      parentReference
                    );

                  });
                }, true);
              });
            }]
          }
        });
    </script>
  </body>
</html>