<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ng-repeat Benchmarks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-app="app">

    <section ng-controller="mainCtrl">

      <button ng-click="started = true" ng-hide="started" class="btn btn-primary">Start</button>

      <section ng-if="started">
        <div>
          <button ng-click="newData()" class="btn btn-primary">Reload table data</button>
        </div>
        <div class="table-responsive">
          <table class="table" ng-react-repeat data="data"></table>
        </div>
      </section>
    </section>

    <script src="http://code.angularjs.org/1.2.1/angular.js"></script>
    <script src="bower_components/quick-ng-repeat/quick-ng-repeat.js"></script>
    <script src="bower_components/react/react.min.js"></script>
    <script src="bower_components/react/JSXTransformer.js"></script>
    <script type="text/jsx">
      /** @jsx React.DOM */
      window.reactRepeat = React.createClass({
        render: function() {
          var rows = [];
          for (var i = 0; i < this.props.scope.data.length; ++i) {
            var clickHandler = this.props.scope.$apply.bind(this.props.scope, this.props.scope.toggle.bind(null, i));
            rows.push(
              <tr onClick={clickHandler}>
                <td>{this.props.scope.data[i]['0']}</td>
                <td>{this.props.scope.data[i]['1']}</td>
                <td>{this.props.scope.data[i]['2']}</td>
                <td>{this.props.scope.data[i]['3']}</td>
                <td>{this.props.scope.data[i]['4']}</td>
              </tr>
            );
          }
          return <tbody>{rows}</tbody>;
        }
      });
    </script>
    <script>
      angular.module('app', ['QuickList'])
        .controller('mainCtrl', ['$scope', function($scope) {
          $scope.data = [];

          $scope.newData = function() {

            $scope.data = [];

            for(var i = 0; i < 500; ++i) {
              $scope.data[i] = {};
              for(var j = 0; j < 5; ++j) {
                $scope.data[i][j+''] = Math.random();
              }
            }
          };

          $scope.newData();
        }])
      .directive('ngReactRepeat', function ($timeout) {
        return {
          restrict: 'A',
          scope: {
            data: '=',
          },
          link: function (scope, elem, attrs) {
            scope.toggle = function(index) {
              alert(index);
            };

            scope.$watch('data', function() {
              $timeout(function() {
                React.renderComponent(window.reactRepeat({scope: scope}), elem[0]);
              });
            }, true);
          }
        }
      });
    </script>
  </body>
</html>