<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Normal | Ng-repeat Benchmarks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-app="app">

    <section ng-controller="mainCtrl">
      <button ng-click="started = true" ng-hide="started" class="btn btn-primary">Start</button>

      <section ng-if="started">
        <div>
          <button ng-click="newData()" class="btn btn-primary">Reload table data</button>
        </div>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr ng-repeat="row in data track by $index">
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>{{row.4}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

    </section>

    <script src="../bower_components/angular/angular.js"></script>
    <script>
      angular.module('app', [])
        .controller('mainCtrl', ['$scope', '$rootScope', function($scope, $rootScope) {
          $scope.data = [];

          $scope.newData = function() {

            $scope.data = [];

            for(var i = 0; i < 500; ++i) {
              $scope.data[i] = {};
              for(var j = 0; j < 5; ++j) {
                $scope.data[i][j+''] = Math.random();
              }
            }
          };

          $scope.newData();
        }]);
    </script>
  </body>
</html>