<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>React | Ng-repeat Benchmarks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-app="ngReactDemo">

    <section ng-controller="DemoCtrl">

      <button ng-click="started = true" ng-hide="started" class="btn btn-primary">Start</button>

      <section ng-if="started">
        <div>
          <button ng-click="newData()" class="btn btn-primary">Reload table data</button>
        </div>
        <div class="table-responsive">
          <table class="table" ng-react-component="Iterator" data="data"></table>
        </div>
      </section>
    </section>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/underscore/underscore-min.js"></script>
    <script src="../bower_components/react/react.min.js"></script>
    <script src="../bower_components/react/JSXTransformer.js"></script>
    <script type="text/jsx">
      /** @jsx React.DOM */
      window.Iterator = React.createClass({
        render: function() {

          var scope = this.props.scope;

          var rows = _.map(scope.data, function(datum) {
            var clickHandler = scope.$apply.bind(
              scope,
              scope.clickHandler.bind(null, datum)
            );

            return (
              <tr onClick={clickHandler}>
                <td>{datum['0']}</td>
                <td>{datum['1']}</td>
                <td>{datum['2']}</td>
                <td>{datum['3']}</td>
                <td>{datum['4']}</td>
              </tr>
            );
          });

          return (
            <tbody>
              {rows}
            </tbody>
          );
        }
      });
    </script>
    <script src="../ngReact.min.js"></script>
    <script src="demo.js"></script>
  </body>
</html>